<!-- <h1>{{test}}</h1> -->

<!-- <iframe src="https://turing-cards.herokuapp.com"></iframe> -->


<div class='cards'>
    <iframe class="full" src="https://turing-cards.herokuapp.com"></iframe>
</div>
<div class='scratch'>
    <iframe class="full" src="https://scratch.mit.edu/projects/editor/" allowfullscreen></iframe>
</div>

<!-- <iframe src="https://rawgit.com/kylewelsby/585b3a5395c6731acc50/raw/f661e856adbccf39549ed7c550661f09158f8d55/index.html"></iframe>
<br>
<button ng-click="sendMessage();">Send response</button>
<br>
<ol>
  <li ng-repeat="message in messages">{{message}}</li>
</ol> -->